* {
	box-sizing: border-box;
	outline: 0;
	font-family: 'Nunito', 'Roboto', 'Noto', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	min-height: 100vh;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	text-align: center;
	background-color: #f3f3f3;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	max-width: 512px;
	color: #b2b2b2;
}

h1 {
	background-image: linear-gradient(135deg, #6e8efb, #a777e3);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.spinning {
	display: inline-block;
	animation: rotate360 1s infinite ease;
}

@keyframes rotate360 {
	100% {
		transform: rotate(360deg);
	}
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	padding: 16px;
}

.form {
	border-radius: 8px;
	width: 100%;
	max-width: 512px;
}

input {
	padding: 16px 24px;
	margin-bottom: 16px;
	width: 100%;
	border: 0;
	font-size: 16px;
	border-radius: 32px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

button {
	width: 100%;
	padding: 16px;
	font-size: 20px;
	border-radius: 32px;
	border: 0;
	cursor: pointer;
	background-image: linear-gradient(135deg, #6e8efb, #a777e3);
	color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

#erbox, #sucess {
	line-height: 3;
	border-radius: 32px;
	color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
